/.gradle/*
/.sts4-cache/*
/.vscode/*
/.idea/*
/bin/*
/build/*
/**/build/*
/out/*
/logs
/logs/*
/gradle/*
/code_section/*
/code-section/*
/bgserver-core/bin/*
/bgserver-core/out/*
/bgserver-corp/bin/*
/bgserver-corp/out/*
/**/*.json
/**/*.xml
!/**/resources/ui/**/*.xml
/**/.DS_Store
/**/out/*
!/**/resources/log/**/*.xml
!/**/resources/msg/**/*.json
